<div class="container">

  <div class="row">
    <div class="col-md-12">
      <div class="page-header">
        <h1 class="page-header-title">Auto Form Demo</h1>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="col-md-5 border-json-component">
        <div class="form-group">
          <br>
          <label for="select" class="col-lg-2 control-label">Selects</label>
          <div class="col-lg-10">
            <select
              class="form-control"
              id="model"
              [(ngModel)]="indexModel"
              #model="ngModel"
              (change)="getModelAndComponetSelected()"
              required >
                <option *ngFor="let mod of models; let indexModel = index" [value]="indexModel">
                  {{ mod.description }}
                </option>
            </select>
            <br>
          </div>
          <div>
            <textarea class="json-content" readonly>{{ selectedModel | prettyJson }}</textarea>
          </div>

        </div>
      </div>

      <div class="col-md-5 col-md-offset-2 border-component" [ngSwitch]="selectedModel.formType">
        <app-generator-form [elements]="selectedModel" (submit)="showNewModel($event)"></app-generator-form>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 border-model-component" *ngIf="newModel">
        <h3>New Model: </h3>
        <div *ngFor="let key of newModel | keys">
          {{ key }}: {{ newModel[key] }}
        </div>
      </div>
    </div>
  </div>

</div>



