.page-header-title {
  text-align: center;
}

.border-json-component {
  border: 2px dashed silver;
  height: 500px;
}

.border-component {
  border: 2px solid silver;
  height: 500px;
  overflow: auto;
}

.json-content {
  width: 430px;
  height: 400px;
}

.border-model-component {
  border: 2px solid silver;
  margin: 10px;
}