
<form>
<div *ngFor="let el of elements; let elementIndex = index" > 
  <div [ngSwitch]="el.type">

    <br/>
    <label>{{ el.label }}</label>
    <input #element
      [disabled]="el.disabled"
      [placeholder]="getAttribute('placeholder', elementIndex)"
      [readOnly]="getAttribute('readOnly', elementIndex)"
      [required]="getAttribute('required', elementIndex)"
      [pattern]="getPattern('pattern', elementIndex)"
      [min]="getAttribute('min', elementIndex)"
      [max]="getAttribute('max', elementIndex)"
      [attr.maxlength]="getAttribute('maxlength', elementIndex)"
      [name]="getAttribute('name', elementIndex)"
      [src]="getAttribute('src', elementIndex)"
      [type]="getAttribute('type', elementIndex)"
      [value]="getAttribute('value', elementIndex)"
      [width]="getAttribute('width', elementIndex)"
      [height]="getAttribute('height', elementIndex)"
      (click)="getEvent('click', elementIndex)"
      (blur)="getEvent('blur', elementIndex, element)"
      
      *ngSwitchDefault
    >
  </div>
</div>
</form>